@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}
/* ------------- Стили для корзины ------------- */

/* Модальное окно */
.jqcart-layout {
  position: fixed;
    top: 0;
    right: -10px;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, .3);
    z-index: 1100;
    
}
.jqcart-layout:before {
    content:'';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.36em;
}
.jqcart-checkout {
  display: inline-block;
   /* position: fixed; */
    bottom: 80px;
    width: 800px; 
    padding: 20px;
    right: 20px;
    vertical-align: middle;
    background-color: #fff;
    box-shadow: 0 0 7px 5px rgb(0 0 0 / 30%);
}
/* Сообщение "Корзина пуста" */
.jqcart-empty-cart {
  padding: 50px 0; 
}

/* Таблица с заказанными товарами */
.jqcart-cart-title {
	  position: relative;
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
    color: #000;
    background-color: #ece0d6;
}
.jqcart-cart-title .jqcart-print-order {
  position: absolute;
  right: 0;
  margin-right: 10px;
  cursor: pointer;
}


.jqcart-table-wrapper {
  height: 250px; /* максимальная высота для таблицы с товарами, после которой будет появляться прокрутка*/
  padding: 0 5px;
  overflow-x: auto;
}

.jqcart-manage-order {
    display: table;
    width: 100%;
    border-collapse: collapse;
}
.jqcart-manage-order > div {
    display: table-row;
}
.jqcart-manage-order .jqcart-row-group {
    display: table-row-group;
}
.jqcart-manage-order > div > div {
    display: table-cell;
    color: black;
    padding: 5px;
    border: 1px solid #b49676;
    vertical-align: middle;
}
.jqcart-manage-order > div > div input {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 2px;
    text-align: center;
    border: 1px solid #b49676;
    border-radius: 5px;
    vertical-align: middle;
}
.jqcart-manage-order .jqcart-small-td {
  width: 5%;
}
.jqcart-manage-order .jqcart-item-img img {
  max-width: 64px;
  max-height: 64px;
}
.jqcart-thead {
    font-weight: bold;
}
.jqcart-thead div {
    text-align: center;
}
.jqcart-subtotal {
    font-size: 1.2em;
    color: black;
    text-align: right;
}
.jqcart-incr {
    display: inline-block;
    font-size: 1.1em;
    padding: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Кнопка удаления отдельного товара из корзины */
.jqcart-del-item {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-family: Arial;
    text-align: center;
    color: #000;
    border-radius: 50%;
    cursor: pointer;
}
.jqcart-del-item:before {
  display: inline-block;
  content: 'X';
  vertical-align: text-bottom;
}
.jqcart-del-item:hover {
    color: #9494ff;
    background-color: #FFF;
    
}
/* Форма для заказчика */
.jqcart-orderform {
    text-align: left;
    background-color: #ece0d6;
}
.jqcart-orderform::after {
    display: table;
    content: '';
    clear: both;
}
.jqcart-orderform p {
    margin: 0 0 10px 0;
    border-bottom: 1px dotted #b49676;
}
.jqcart-orderform label {
    position: relative;
    color: black;
    display: inline-block;
    min-width: 150px;
    vertical-align: middle;
    overflow: hidden;
}
.jqcart-orderform p:nth-child(5) label {
    vertical-align: top;
}
.jqcart-orderform label::after {
    position: absolute;
    bottom: 0;
    content: '';
    width: 100%;
    border-bottom: 1px dotted #b49676;
}
.jqcart-orderform p:last-child {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px dashed #000; 
}
.jqcart-orderform input[type=text],
.jqcart-orderform textarea {
    width: 250px;
    padding: 3px;
    border: 1px solid #b49676;
    border-radius: 5px;
    resize: vertical;
}
.jqcart-orderform input[type=submit],
.jqcart-orderform input[type=reset] {
    padding: 5px;
  font-size: 15px;
  color: black;
  background: #b49676;
  border: none;
  border-radius: 5px;
}
.jqcart-orderform input[type=reset] {
    float: right;
}
.jqcart-error {
    color: #f00;
}
.jqcart-orderform a {
  padding: 5px;
  font-size: 15px;
  color: black;
  background: #ece0d6;
  border: none;
  border-radius: 5px;

}

@media print {
  * {
    margin: 0;
    padding: 0;
  }
  .jqcart-checkout {
        background-color: #FFFFFF;
        width: 100%;
        margin: 0;
        padding: 5px;
        font-size: 14px;
        line-height: 18px;
        box-shadow: none;
    }
    .jqcart-checkout * {
      padding: 2px;
    }
    .jqcart-checkout p {
      margin: 0;
    }
    .jqcart-manage-order {
      width: 99.9%;
    }
    .jqcart-orderform input[type="text"],
    .jqcart-orderform textarea,
    .jqcart-manage-order .jqcart-amount {
      border-color: #FFFFFF;
      box-shadow: none;
      resize: none;
    }
    .jqcart-checkout input[type=submit],
    .jqcart-checkout input[type=reset],
    .jqcart-checkout .jqcart-cart-title,
    .jqcart-checkout .jqcart-incr,
    .jqcart-checkout .jqcart-manage-order > div > div:last-child {
      display: none;
    }
    .jqcart-manage-order .jqcart-item-img img {
      height: 32px;
    }
}
div {
  display: block;
  font-family: Montserrat-Regular;
  font-size: 12px;
  color: #888888;
  line-height: 1.5;
}
 